<a href="https://colab.research.google.com/github/safvana202/Zartek/blob/main/pandas_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/customer")
df

     4000001  Kristina    Chung  55                       Pilot      india
0    4000002     Paige     Chen  74                     Teacher         uk
1    4000003    Sherri   Melton  34                 Firefighter         us
2    4000004  Gretchen     Hill  66  Computer hardware engineer      china
3    4000005     Karen  Puckett  74                      Lawyer     africa
4    4000006   Patrick     Song  42                Veterinarian  australia
..       ...       ...      ...  ..                         ...        ...
457  4000459  Gretchen  Francis  60                  Politician    ireland
458  4000460    Cheryl     Horn  40                Veterinarian    ireland
459  4000461    Audrey  Forrest  50                   Architect    ireland
460  4000462      Alan    Levin  43                Statistician    ireland
461  4000463     Wayne   Weiner  70                       Actor    ireland

[462 rows x 6 columns]

In [4]:
df.head()

   4000001  Kristina    Chung  55                       Pilot      india
0  4000002     Paige     Chen  74                     Teacher         uk
1  4000003    Sherri   Melton  34                 Firefighter         us
2  4000004  Gretchen     Hill  66  Computer hardware engineer      china
3  4000005     Karen  Puckett  74                      Lawyer     africa
4  4000006   Patrick     Song  42                Veterinarian  australia

In [5]:
df.tail()

     4000001  Kristina    Chung  55         Pilot    india
457  4000459  Gretchen  Francis  60    Politician  ireland
458  4000460    Cheryl     Horn  40  Veterinarian  ireland
459  4000461    Audrey  Forrest  50     Architect  ireland
460  4000462      Alan    Levin  43  Statistician  ireland
461  4000463     Wayne   Weiner  70         Actor  ireland

In [6]:
df.iloc[10:20]

    4000001  Kristina      Chung  55                        Pilot  india
10  4000012     Sandy     Raynor  26                       Writer  india
11  4000013    Marion       Moon  41                    Carpenter  india
12  4000014      Beth    Woodard  65                     Musician  india
13  4000015     Julia      Desai  49                     Musician  india
14  4000016    Jerome    Wallace  52                   Pharmacist  india
15  4000017      Neal   Lawrence  72  Computer support specialist  india
16  4000018      Jean    Griffin  45             Childcare worker  india
17  4000019  Kristine  Dougherty  63            Financial analyst  india
18  4000020   Crystal     Powers  67       Engineering technician  india
19  4000021      Alex        May  39      Environmental scientist  india

In [7]:
df.iloc[10:21,4:]

                          Pilot  india
10                       Writer  india
11                    Carpenter  india
12                     Musician  india
13                     Musician  india
14                   Pharmacist  india
15  Computer support specialist  india
16             Childcare worker  india
17            Financial analyst  india
18       Engineering technician  india
19      Environmental scientist  india
20                       Doctor  india

In [8]:
df=pd.read_csv("/content/customer",names=['id','fname','lname','age','profession','country'])
df

          id     fname    lname  age                  profession  country
0    4000001  Kristina    Chung   55                       Pilot    india
1    4000002     Paige     Chen   74                     Teacher       uk
2    4000003    Sherri   Melton   34                 Firefighter       us
3    4000004  Gretchen     Hill   66  Computer hardware engineer    china
4    4000005     Karen  Puckett   74                      Lawyer   africa
..       ...       ...      ...  ...                         ...      ...
458  4000459  Gretchen  Francis   60                  Politician  ireland
459  4000460    Cheryl     Horn   40                Veterinarian  ireland
460  4000461    Audrey  Forrest   50                   Architect  ireland
461  4000462      Alan    Levin   43                Statistician  ireland
462  4000463     Wayne   Weiner   70                       Actor  ireland

[463 rows x 6 columns]

In [9]:
df.isna().sum() #for finding count of missing value

id            0
fname         0
lname         0
age           0
profession    0
country       1
dtype: int64

In [10]:

df1=df[df['profession']=='Musician']
df1[df1['age']==df1['age'].max()]

          id  fname     lname  age profession    country
359  4000360  Alvin  McDonald   73   Musician  australia

In [11]:
df.loc[df[df['profession'] == 'Musician']['age'].idxmax()]

id              4000360
fname             Alvin
lname          McDonald
age                  73
profession     Musician
country       australia
Name: 359, dtype: object

In [12]:
df1=df[df['country']=='india']
df1[df1['age']==df1['age'].min()]

         id  fname   lname  age profession country
11  4000012  Sandy  Raynor   26     Writer   india

In [13]:
len(df[df['country']=='india'])

21

In [14]:
df1=df[df['country']=='china']
df1[['fname','lname','age','country']]

         fname      lname  age country
3     Gretchen       Hill   66   china
140       Jeff     Kaplan   70   china
141     Sandra     Heller   51   china
142      Katie        May   28   china
143    Raymond   Jennings   63   china
144      Roger      Hanna   23   china
145    Natalie   Locklear   37   china
146      Kathy   Holloway   65   china
147       Troy      Jones   74   china
148       Neal     Glover   40   china
149     Martin       Vick   31   china
150       Jack  O'Donnell   59   china
151    Vincent    Goldman   22   china
152       Beth    McKenna   40   china
153     Milton      Starr   23   china
154     Tamara      Stone   73   china
155   Mitchell    McClure   68   china
156   Franklin     Watson   64   china
157      Leroy     Monroe   51   china
158       Glen     Abbott   29   china
159     Judith     Singer   73   china
160      Alice       Hall   33   china
161      Bruce    Farrell   35   china
162   Kathleen      Lucas   66   china
163        Amy     Norman   62   china
164     Ronnie     Atkins   67   china
165     Martha     Monroe   31   china
166       Lynn  Robertson   45   china
167       Jose      Sykes   47   china
168     Robert       Reid   39   china
169    Pauline   Chandler   70   china
170    Stephen      Finch   30   china
171      Peggy      Hobbs   69   china
172      Donna     Adkins   72   china
173      Doris     Kinney   36   china
174        Ben   Whitaker   35   china
175    Kristin  Alexander   21   china
176       Ryan     Conner   51   china
177     Tracey     Waters   73   china
178       Mark     Becker   39   china
179      Louis    Rollins   35   china
180      Janet       Love   39   china
181        Leo     Adkins   42   china
182  Constance      Black   36   china
183      Sarah        Fox   73   china
184     Gladys    Hatcher   62   china
185      Hazel         Wu   68   china
186      Hazel      Lloyd   48   china
187     Jerome      Joyce   40   china
188    Vincent      Welch   54   china
189        Kim   Matthews   38   china
190     Joseph   Chappell   59   china
191     Alison  MacDonald   26   china
192       Eric       Kane   61   china
193    Heather     Butler   67   china
194     Claire    Pickett   59   china

In [15]:
df.loc[df['age'].min()]['profession']

'Doctor'

In [16]:
#Display the fname and profession of the person their age greater than 50 and their country is China
df1=df[df['country']=='china']
df1[df1['age']>50][['fname','profession']]

        fname                   profession
3    Gretchen   Computer hardware engineer
140      Jeff                      Chemist
141    Sandra                 Photographer
143   Raymond                        Coach
146     Kathy                   Pharmacist
147      Troy                    Secretary
150      Jack                        Actor
154    Tamara                  Firefighter
155  Mitchell                 Loan officer
156  Franklin                        Coach
157     Leroy  Computer support specialist
159    Judith                        Actor
162  Kathleen                      Chemist
163       Amy          Automotive mechanic
164    Ronnie                       Dancer
169   Pauline                    Economist
171     Peggy                     Musician
172     Donna          Electrical engineer
176      Ryan          Electrical engineer
177    Tracey   Computer hardware engineer
183     Sarah                 Psychologist
184    Gladys                     Musician
185     Hazel                    Therapist
188   Vincent                 Psychologist
190    Joseph                     Reporter
192      Eric             Childcare worker
193   Heather                       Farmer
194    Claire                       Lawyer

In [17]:
df[df['profession']=='Pilot']

          id      fname     lname  age profession    country
0    4000001   Kristina     Chung   55      Pilot      india
6    4000007      Elsie  Hamilton   43      Pilot    ireland
228  4000229       Faye    Norman   64      Pilot     africa
229  4000230      Kathy     Burch   28      Pilot     africa
250  4000251     Jeremy     House   61      Pilot     africa
270  4000271      Alice     Nance   59      Pilot     africa
321  4000322  Geraldine    Jensen   50      Pilot  australia
335  4000336     Steven   Ballard   62      Pilot  australia
391  4000392       Emma     Olson   74      Pilot    ireland
402  4000403        Leo  Lassiter   65      Pilot    ireland
422  4000423       Alan    O'Neal   59      Pilot    ireland
424  4000425       Dean      Lutz   26      Pilot    ireland
439  4000440     Hannah  Langston   25      Pilot    ireland

In [18]:
df1=df[df['profession']=='Teacher']

In [19]:
df1[df1['country']=='uk']

         id    fname    lname  age profession country
1   4000002    Paige     Chen   74    Teacher      uk
62  4000063  Melinda  Proctor   27    Teacher      uk

In [22]:
df1=df[df['profession']=='Accountant']

In [23]:
df1[df1['country']=='india'][['fname','lname']]

     fname  lname
26  Marcia  Walsh

In [24]:
df.iloc[60:81]

,id,fname,lname,age,profession,country
60,4000061,Jessica,Rich,37,Actor,uk
61,4000062,Evan,Grant,66,Agricultural and food scientist,uk
62,4000063,Melinda,Proctor,27,Teacher,uk
63,4000064,Calvin,Diaz,65,Athlete,us
64,4000065,Eugene,Graham,52,Police officer,us
65,4000066,Vickie,Watkins,55,Computer support specialist,us
66,4000067,Luis,Hinton,69,Childcare worker,us
67,4000068,Allan,Marsh,67,Athlete,us
68,4000069,Melanie,Hewitt,47,Real estate agent,us
69,4000070,Marianne,Branch,53,Judge,us
70,4000071,Natalie,Walton,24,Recreation and fitness worker,us
71,4000072,Caroline,O'Brien,44,Computer support specialist,us
72,4000073,Arlene,Case,62,Musician,us
73,4000074,Kyle,Watts,39,Engineering technician,us
74,4000075,Calvin,Christensen,54,Architect,us
75,4000076,Gary,Parks,65,Pharmacist,us
76,4000077,Samantha,Hardin,27,Doctor,us
77,4000078,Sara,Lucas,44,Loan officer,us
78,4000079,Stacy,Eason,31,Musician,us
79,4000080,Gladys,Davidson,52,Recreation and fitness worker,us
80,4000081,Mike,Whitehead,26,Politician,us